.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.auto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.logo {
  height: 70px;
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

input {
  padding: 10px;
  height: 20px;
  width: 300px;
  border: 1px solid rgb(220, 211, 220);
  margin: 10px;
  font-size: 18px;
  text-transform: capitalize;
}

.autoContainer {
  position: absolute;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: rgb(220, 211, 220);
  background-color: white;
  left: 10px;
  top: 52px;
  width: 320px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 5px;
}

.option,
span {
  font-size: 28px;
  text-transform: capitalize;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
